/*
File: styles.scss

Copyright © 2016 Terry Gilliver <terry@comp-solutions.org.uk> - Computer Solutions

Created: 26-Jan-2016 17:46:17

Purpose: Project Stylesheet

Modification History:

*/

/* Stuff for every page */

$brandFontSize : 0.9em;
$brandColor: black;
$brandBackColor: #99FF33; // light green
$brandImageWidth: 40px;
$brandImageMarginTop: -10px; //move image up 10px;
$brandImageMarginRight: 10px;
$navbarBottomMargin: 0px; //remove 20px margin

.navbar {
    margin-bottom: $navbarBottomMargin;
}
.navbar-default {
    .navbar-brand {
        font-size: $brandFontSize;
        color: $brandColor;
        background-color: $brandBackColor;
        img {
            width: $brandImageWidth;
            margin-top: $brandImageMarginTop;
            margin-right: $brandImageMarginRight;
        }
    }
}
/* modify menu collapse width */
@media (max-width: 900px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

ul.nav {
    font-size: 1em;
}

div#mywrapper {
    display: none;
}
main {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/ThePloughOnTheGreen2/public/assets/images/ploughopacity20.jpg');
    overflow: auto;
}

footer {
    height:30px;
    background-color: beige;
    padding: 5px;
}

/* Styles for FindUs page */
#mapdata {
    margin-top: 20px;
    margin-bottom: 20px;
}

.google-maps {
    position: relative;
    padding-bottom : 61.5%; // (400/650 = 0.615 61.5%)
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
/* styles for list_photos */
table, tr, td, tr { 
    border-collapse: collapse; 
    vertical-align: top; 
    text-align: left;
    font: 13px/15px Verdana,Arial,Helvetica,sans-serif; 
}

.message {
    color:red;
    font-size: 1.6em;
}

.form-group {
    margin-left: 15px;
    margin-right: 15px;
}

#pagination .selected { 
    font-weight: bold; 
    color: #8D0D19;
}
#blogsearch {
    padding-top: 70px;
}
#datetimepicker1 {
    margin: 0 -15px 0 -15px;
}


.icon-input-btn{
    display: inline-block;
    position: relative;
}
.icon-input-btn input[type="submit"]{
    padding-left: 2em;
}
.icon-input-btn .glyphicon{
    display: inline-block;
    position: absolute;
    color: white;
    left: 0.65em;
    top: 30%;
}
